# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.11
      - image: mysql:8.0
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD: true

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install
      - run: sudo apt install -y mysql-client

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      # - run: yarn test
      - run: mysqld -h 127.0.0.1 ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY 'root'
      - run: mysql -h 127.0.0.1 -u root < ./db/schema.sql

      - run: 
          command: node ./server/index.js
          background: true

      - run: yarn test


